# Python
**/__pycache__/
*.pyc
*.pyo

# Virtual environments
**/LearnBridgeEnv/
**/venv/
**/.venv/

# Environment variables
.env
*/.env

# Node / React
node_modules/
dist/
build/

# Logs
*.log
logs/

# SQLite database
*.sqlite3
*.sqlite3-journal